/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General Styles */

html {
  font-size: 16px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  text-align: left;
  color: #39393a;
  background-color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  color: #39393a;
  text-decoration: none;
}

h1,
h3 {
  font-family: "Yeseva One", serif;
  font-size: 2rem;
  line-height: 1.5;
}

h2 {
  font-family: "Yeseva One", serif;
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

.project-link {
  text-transform: uppercase;
}

.about-info h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

h5 {
  font-family: "IBM plex sans", sans-serif;
  line-height: 1.5;
  width: 100%;
}

p,
li {
  font-size: 1rem;
  line-height: 1.75;
}
.project-description span,
.about-info p span {
  font-weight: bold;
}

figure {
  margin: 0;
}

.skills-wrapper p,
.tools-wrapper p {
  font-size: 1.125rem;
  text-transform: uppercase;
}

/* STRUCTURAL STYLES */

header,
#work,
#skills,
#about {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

footer {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.content-wrapper {
  width: 85%;
}

.hero-title {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#work p,
#about p,
footer .contact-wrapper {
  width: 100%;
  text-align: left;
}

/* Setting margins to zero to remove browser default margins */

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  margin: 0;
}

/* Setting Margins */

header {
  padding-top: 30px;
}

nav {
  margin-bottom: 80px;
}

.hero-title {
  padding-top: 60px;
}

.hero-title h2 {
  padding-top: 30px;
}

#work {
  padding: 60px 0 20px 0;
}

#skills,
#about,
footer {
  padding: 80px 0;
}

h3 {
  margin: 20px 0 20px 0;
}

h5 {
  margin-bottom: 20px;
}

.project-description {
  margin: 0 0 30px 0;
}

.project-link {
  margin: 40px 0 60px 0;
}

figure {
  margin: 20px 0 20px 0;
}

.skills-header {
  margin-bottom: 40px;
}

.tools-header {
  margin: 60px 0 40px 0;
}

.about-info h3 {
  margin: 40px 0 40px 0;
}

.about-info h4 {
  margin-bottom: 60px;
}

.about-text {
  margin: 0 0 30px 0;
}

.contact-wrapper h3 {
  margin-bottom: 40px;
}

.contact-info a {
  margin: 0 0 30px 0;
}

.social-icons {
  margin: 0 0 60px 0;
}

.copyright-wrapper .year {
  margin-top: 40px;
}

/*----------BASE HEADER STYLES--------------*/

header {
  background-color: #f5e3f7;
  padding: 30px 0 100px 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  font-size: 0.875rem;
  text-transform: uppercase;
}

nav ul li a {
  color: #252f76;
}

nav #contact-link {
  border: 1px solid #252f76;
  padding: 10px 20px;
  border-radius: 30px;
}

nav #contact-link:hover {
  background-color: tomato;
  color: white;
  border: 1px solid tomato;
}

.hero-title h1 {
  color: #252f76;
  line-height: 1.75;
}

.hero-title h2 {
  font-family: "Yeseva One", serif;
  color: #252f76;
}

/*----------MOBILE STYLES HOME PAGE--------------*/

/* PORTFOLIO */

#work,
#skills,
#about {
  width: 100%;
}

#work h3 {
  width: 100%;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.portfolio-item {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#work figure {
  filter: drop-shadow(1px 2px 6px lightgrey);
  margin: 20px 0;
}

#work h5 {
  margin-bottom: 20px;
}

.project-description p {
  margin: 20px 0 30px 0;
  text-align: left;
}

.portfolio-item p span {
  font-weight: bold;
}

.project-link {
  padding: 0.75rem 3.75rem;
  border: 1px solid #39393a;
  border-radius: 30px;
}

.project-link:hover {
  background-color: #ffb1a3;
  color: white;
  border: 1px solid #ffb1a3;
}

/* SKILLS */

#skills {
  background-color: #fdf7f7;
}

.skills-wrapper p,
.tools-wrapper p {
  background-color: #fce8e6;
  padding: 15px 0;
  margin: 20px 0;
}

/* ABOUT */

#about {
  width: 100%;
}

#profile-image {
  width: 85%;
}

/* BASE FOOTER STYLES */

footer {
  background-color: #f5e3f7;
  clip-path: ellipse(129% 100% at 45.26% 100%);
  color: #252f76;
}

footer .contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: flex-start;
}

footer .contact-info {
  width: 70%;
}

.contact-info a {
  font-size: 1.125rem;
  font-weight: bold;
  color: #252f76;
  display: block;
}

footer .social-icons {
  display: flex;
  justify-content: space-between;
}

footer .social-icons {
  width: 45%;
}

footer .social-icons li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  display: inline-block;
}

footer .social-icons li i {
  font-size: 1.875rem;
  color: #252f76;
}

#contact hr {
  border-top: 1px solid #252f76;
}

.copyright .heart-emoji {
  padding-right: 8px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet styles here */

  /* General Styles */

  .content-wrapper {
    max-width: 640px;
  }

  /* FONT STYLES */

  h1,
  h3 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  header nav ul li {
    font-size: 1rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  .skills-wrapper p,
  .tools-wrapper p {
    font-size: 1rem;
  }

  /* element margins */

  header {
    padding-top: 60px;
  }

  #work,
  #skills,
  #about {
    padding: 80px 0;
  }

  footer {
    padding: 140px 0;
  }

  #work h3 {
    margin-bottom: 60px;
  }

  /* HEADER */

  /* PORTFOLIO */

  .portfolio-wrapper {
    justify-content: space-around;
  }

  .portfolio-item {
    width: 45%;
    align-items: center;
  }

  .project-description {
    width: 95%;
  }

  /* SKILLS */

  .skills-wrapper,
  .tools-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
    text-transform: uppercase;
  }

  .skill,
  .tool {
    width: 45%;
  }

  .skill-wrapper p,
  .tool-wrapper p {
    padding: 15px 0;
  }

  /* ABOUT */

  .about-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  #about figure {
    width: 60%;
  }

  .about-info h4 {
    text-align: left;
  }

  /* FOOTER */

  footer .social-icons {
    width: 8em;
    justify-content: space-between;
  }

  footer .social-icons li i {
    font-size: 2rem;
  }

  .copyright-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .copyright-wrapper p {
    width: 45%;
  }

  .copyright-wrapper .year {
    margin-top: 20px;
    text-align: left;
  }

  .copyright-wrapper .copyright {
    margin-top: 20px;
    text-align: right;
  }
}

@media only screen and (min-width: 1200px) {
  /* Desktop styles */

  .content-wrapper {
    max-width: 1450px;
  }

  /* Font styles */

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  .about-info h3 {
    font-size: 3rem;
    text-align: left;
  }

  #about h4 {
    font-size: 2rem;
  }

  footer h3 {
    font-size: 3rem;
  }

  /* Element Margins */

  header {
    padding-top: 80px;
    padding-bottom: 140px;
  }

  #skills {
    padding: 120px 0;
  }

  #skills .content-wrapper {
    max-width: 900px;
  }

  .about-info h3 {
    padding: 20px 0 0 0;
  }

  .about-info h4 {
    margin: 40px 0;
  }

  .about-text {
    margin: 0 0 30px 0;
  }

  /* HEADER */

  header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  header nav ul {
    justify-content: space-between;
    width: 45%;
  }

  nav ul li a {
    padding: 10px 20px;
  }

  nav ul li a:hover {
    background-color: #fb968d;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
  }

  .hero-title {
    max-width: 95%;
  }

  /* PORTFOLIO */

  .portfolio-item {
    width: 30%;
  }

  /* SKILLS */

  .skill,
  .tool {
    width: 30%;
  }

  /* ABOUT */

  .about-wrapper {
    display: flex;
    justify-content: space-between;
  }

  #about figure {
    width: 35%;
    margin-top: 80px;
  }

  .about-info {
    width: 58%;
  }

  /* FOOTER */

  footer .social-icons {
    width: 8em;
    justify-content: space-between;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
