/*
=============== 
Fonts
===============
*/

/* lexend-deca-100 - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/lexend-deca-v17-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/lexend-deca-v17-latin-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/lexend-deca-v17-latin-100.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/lexend-deca-v17-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/lexend-deca-v17-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/lexend-deca-v17-latin-100.svg#LexendDeca") format("svg"); /* Legacy iOS */
}
/* lexend-deca-200 - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/lexend-deca-v17-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/lexend-deca-v17-latin-200.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/lexend-deca-v17-latin-200.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/lexend-deca-v17-latin-200.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/lexend-deca-v17-latin-200.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/lexend-deca-v17-latin-200.svg#LexendDeca") format("svg"); /* Legacy iOS */
}
/* lexend-deca-regular - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/lexend-deca-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/lexend-deca-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/lexend-deca-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("fonts/lexend-deca-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/lexend-deca-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/lexend-deca-v17-latin-regular.svg#LexendDeca") format("svg"); /* Legacy iOS */
}
/* lexend-deca-600 - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/lexend-deca-v17-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/lexend-deca-v17-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/lexend-deca-v17-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/lexend-deca-v17-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/lexend-deca-v17-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/lexend-deca-v17-latin-600.svg#LexendDeca") format("svg"); /* Legacy iOS */
}
/* lexend-deca-900 - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/lexend-deca-v17-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/lexend-deca-v17-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/lexend-deca-v17-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/lexend-deca-v17-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/lexend-deca-v17-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/lexend-deca-v17-latin-900.svg#LexendDeca") format("svg"); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/roboto-mono-v22-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/roboto-mono-v22-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-mono-v22-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("fonts/roboto-mono-v22-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/roboto-mono-v22-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/roboto-mono-v22-latin-regular.svg#RobotoMono") format("svg"); /* Legacy iOS */
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*
=============== 
Variables
===============
*/

:root {
  --bg-cream: #fcf9ef;
  --heading-color: #3b15e4;
  --accent-btn-color: #faca3b;
  --accent-pop-color: #2bf8d6;
  --main-text-color: #413c8a;
}

/* 
=====================================
  Global styles
===================================== 
*/

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}

html {
  font-size: 16px;
  background-color: white;
  line-height: 1.5;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  text-align: left;
  color: var(--main-text-color);
  font-weight: 200;
}

header,
section,
footer {
  background-color: var(--bg-cream);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  color: var(--heading-color);
  text-decoration: none;
}

nav a {
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lexend Deca", sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
}

.hero-span {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.55rem;
  font-weight: 600;
  color: #3b15e4;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

.portfolio-item h4 {
  font-size: 1.125rem;
}

h5 {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 400;
}

.project-link {
  text-transform: uppercase;
}

p,
li {
  font-size: 1rem;
  line-height: 1.75;
}

p {
  text-align: left;
}

.skill {
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  font-weight: 400;
}

.copyright-wrapper p {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
}

/* STRUCTURAL STYLES */

header,
section,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.content-wrapper {
  width: 90%;
}

/* Remove browser default margins */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 15px 0;
}

a {
  margin: 0;
}

figure {
  margin: 0;
}

header {
  padding: 40px 0 60px 0;
}

nav {
  margin-bottom: 80px;
}

section,
footer {
  padding: 60px 0;
}

h3 {
  margin: 30px 0;
}

/*----------BASE HEADER STYLES--------------*/

#main-nav {
  display: none;
}

/*----------Mobile Nav--------------*/
.nav-bar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
}

.mobile-menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  justify-self: right;
  align-self: right;
}

.overlay {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--accent-btn-color);
  overflow: hidden;
  transition: 0.5s ease-in-out;
  display: none;
  position: fixed;
  z-index: 2;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 20%;
  width: 100%;
}

.nav-item {
  padding: 10px 0;
}

.nav-item a {
  color: var(--heading-color);
  font-size: 1.25rem;
  display: inline-block;
  position: relative;
  margin: 15px;
}

.close-menu {
  font-size: 2.5rem;
  color: var(--heading-color);
  position: absolute;
  top: 15px;
  right: 22px;
}

.show {
  display: block !important;
}

.remove {
  display: none;
}

/*----------Hero--------------*/
.hero-title {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  margin: 80px 0;
}

.hero-title h1 {
  color: var(--heading-color);
  line-height: 1.4;
  font-weight: 900;
  transition: 2s ease-in-out;
}

.period {
  color: var(--accent-pop-color);
  animation-duration: 5s;
  display: inline-block;
  transition: 2s ease-in-out;
}

.hero-title h2 {
  color: var(--heading-color);
  font-weight: 100;
  padding-top: 20px;
  transition: 2s ease-in-out;
}

.smiley {
  font-weight: 400;
  display: inline-block;
  transition: all 1s ease-in;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

@keyframes turnOver {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.turnOver {
  -webkit-animation-name: turnOver;
  animation-name: turnOver;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.delay {
  animation-delay: 1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.delay-500 {
  animation-delay: 0.5s;
}

.delay-600 {
  animation-delay: 0.6s;
}

.delay-800 {
  animation-delay: 0.8s;
}

.delay-plus {
  animation-delay: 1.25s;
}

/*---------- ABOUT SECTION------------*/
.about-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-start;
}

.about-info {
  text-align: left;
}

.profile-img-wrapper {
  width: 80%;
  max-width: 275px;
  position: relative;
  z-index: 1;
}

.profile-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 1;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s ease-in-out;
}

.profile-img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
  transform: translate(-10px, -10px) scale(1.025);
}

.profile-img-wrapper::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--accent-pop-color);
  top: 5px;
  left: 20px;
  content: "";
  z-index: -1;
}

.about-info h4 {
  margin-bottom: 20px;
}

/*---------- SKILLS ------------*/

.skills-header {
  align-self: flex-start;
  color: var(--heading-color);
  margin: 30px 0 20px 0;
}

.skill {
  color: var(--heading-color);
}

.skill::before {
  content: "• ";
  color: var(--accent-pop-color);
}

/*---------- PROJECTS ------------*/

#work h3 {
  width: 100%;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 25px;
}

.portfolio-item-wrapper {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  z-index: 1;
  position: relative;
}

.portfolio-item {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--bg-cream);
  padding: 10px 20px;
  border: 1px solid var(--accent-pop-color);
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}

.portfolio-item-wrapper::before {
  content: "";
  z-index: -1;
  background: repeating-linear-gradient(
    45deg,
    var(--accent-pop-color),
    var(--accent-pop-color) 2px,
    var(--bg-cream) 2px,
    var(--bg-cream) 4px
  );
  border-radius: 20px;
  display: block;
  position: absolute;
  width: 101%;
  height: 103%;
  top: 0;
  left: 1px;
  transform: none;
}

.portfolio-item:hover {
  transform: translate(-5px, -10px) scale(1.025);
  color: var(--heading-color);
}

.portfolio-item:hover .project-link {
  color: var(--heading-color);
  border: 1px solid var(--heading-color);
}

.portfolio-item:active {
  transform: translate(-5px, -10px) scale(0.98);
}

#work figure {
  border: 5px solid white;
  border-radius: 5px;
  margin: 20px 0;
}

.portfolio-item img {
  width: 100%;
  height: auto;
}

#work h4 {
  margin-bottom: 10px;
  align-self: center;
}

.project-description {
  margin-bottom: 20px;
}

.skills {
  margin: 0;
}

.skills span {
  font-weight: 400;
}

.project-link {
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  border: 1px solid var(--main-text-color);
  padding: 10px 20px;
  border-radius: 30px;
  color: var(--main-text-color);
  text-decoration: none;
  align-self: left;
  margin: 30px 0 45px 0;
}

.project-link:hover {
  background-color: var(--accent-btn-color);
  color: var(--heading-color);
  border: 1px solid var(--heading-color);
}

/* BASE FOOTER STYLES */

footer .contact-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h3 {
  font-size: 2rem;
}

footer p {
  font-weight: 400;
}

footer .period {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block;
  padding-left: 4px;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  50% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }

  75% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.contact-info a {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.contact-info a:hover {
  transform: translateY(-5px);
  text-decoration: underline;
}

footer .social-icons {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 40px 0 20px 0;
}

footer .social-icons {
  width: 25%;
}

footer .social-icons li {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

footer .social-icons i {
  font-size: 1.5rem;
  color: #3b15e4;
  transition: 0.2s ease-in-out;
}

.social-icons i:hover {
  color: #2bf8d6;
  transform: translateY(-5px);
}

#contact hr {
  border-top: 1px solid #2bf8d6;
  margin: 0;
}

.copyright-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.copyright .heart-emoji {
  padding-right: 8px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 550px) {
  /* GENERAL STYLES */
  body {
    padding: 10px;
  }

  .content-wrapper {
    width: 85%;
  }

  /* FONT STYLES */
  h1 {
    font-size: 3rem;
  }

  .hero-span {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .portfolio-item h4 {
    font-size: 1.125rem;
    font-weight: 400;
  }

  /*  margins */
  .work-header {
    margin-bottom: 40px;
  }

  /* NAVIGATION STYLES */
  .mobile-menu-wrapper,
  .hamburger-menu,
  #mobile-nav {
    display: none;
  }

  #main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 90%;
  }

  .nav-item {
    padding: 0;
    margin: 0;
  }

  .nav-item a {
    font-size: 0.875rem;
    color: var(--main-text-color);
    text-transform: uppercase;
    margin: 0;
  }

  nav ul li a:hover {
    color: var(--heading-color);
    border-bottom: 2px solid var(--accent-pop-color);
  }

  nav #contact-link {
    letter-spacing: 0.05rem;
    border: 1px solid var(--heading-color);
    padding: 10px 20px;
    border-radius: 30px;
    color: var(--heading-color);
    text-decoration: none;
  }

  nav #contact-link:hover {
    background-color: var(--accent-btn-color);
    color: var(--heading-color);
  }

  /* SKILLS SECTION */
  .skills-wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    flex-flow: row wrap;
  }

  .skill {
    width: 47%;
  }

  /* PROJECT SECTION */
  .portfolio-wrapper {
    justify-content: center;
  }

  .portfolio-item {
    padding: 10px 30px;
  }

  /* BASE FOOTER STYLES */
  footer h3 {
    font-size: 2.25rem;
  }
}

@media only screen and (min-width: 768px) {
  /* Tablet styles here */

  /* General Styles */

  body {
    padding: 20px;
  }

  .content-wrapper {
    max-width: 720px;
  }

  /* FONT STYLES */

  h1 {
    font-size: 4rem;
  }

  .hero-span {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
    color: #3b15e4;
  }

  /* element margins */

  #work,
  #about {
    padding: 80px 0;
  }

  footer {
    padding: 80px 0;
  }

  .work-header {
    margin-bottom: 60px;
  }

  .about-header {
    margin-top: 40px;
  }

  /* HEADER */
  #main-nav {
    display: flex;
    justify-content: flex-end;
  }

  .nav-bar {
    width: 70%;
  }

  /* ABOUT */

  .profile-img-wrapper {
    width: 50%;
    max-width: 275px;
    align-self: center;
  }
  .profile-img {
    width: 100%;
  }

  .about-info h4 {
    text-align: left;
  }

  /* PORTFOLIO */

  .portfolio-wrapper {
    justify-content: space-between;
    gap: 20px;
  }

  .portfolio-item-wrapper {
    width: 48%;
  }

  .portfolio-item {
    padding: 10px 20px;
  }

  .project-description {
    width: 95%;
  }

  /* FOOTER */

  footer h3 {
    font-size: 2.5rem;
  }

  footer .social-icons {
    width: 80px;
    justify-content: space-between;
  }

  footer .social-icons li i {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1200px) {
  /* Desktop styles */

  .content-wrapper {
    max-width: 1000px;
  }

  /* Font styles */

  h1 {
    font-size: 3.5rem;
  }

  footer h3 {
    font-size: 3rem;
  }

  /* Element Margins */

  header {
    padding-bottom: 140px;
  }

  .about-header {
    margin: 0;
  }

  .about-info h4 {
    margin: 20px 0;
  }

  /* HEADER */

  header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .nav-bar {
    justify-content: space-between;
    width: 45%;
  }

  .hero-title h2 {
    width: 80%;
  }

  /* ABOUT */

  .about-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: flex-start;
  }

  .profile-img-wrapper {
    width: 35%;
    margin-top: 80px;
    max-width: 300px;
    align-self: flex-start;
  }

  .profile-img {
    width: 100%;
  }

  .about-info {
    width: 60%;
  }

  /* PORTFOLIO */
  .portfolio-wrapper {
    justify-content: center;
    gap: 15px;
  }

  .portfolio-item-wrapper {
    width: 32%;
  }

  /* Footer */

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
